*{
    margin: 0;
}
.head{
    width: 100%;
    height: 100px;
    background-image: url(coś.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
}
body{
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(253,187,45,1) 98%);
    background-repeat: no-repeat;
}


.head img{
    float: left;}
.opis{
    margin: 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 6px;
    color: rgb(0, 0, 0);
}
.opis p{
    padding: 20px;
}.menu{

    width: 100%px;
    height: 50px;
    box-shadow: 14px 0px 5px -6px rgba(0,0,0,0.12);
    background: rgb(25,19,5);
    background: linear-gradient(0deg, rgb(222, 157, 5) 0%, rgb(230, 238, 6) 100%);

}
.menu ul{
    list-style-type: none;
    text-align: center;
    padding: 10px;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    color: black;
    text-decoration: none;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}
.menu ul li a:hover{
    text-decoration: underline;
    color: rgb(0, 255, 34);
    transition: all 0.25s;}